<?xml version="1.0" encoding="utf-8"?>
<!--
    Programmer: Afonin, Anthony
    Chemeketa Community College
    Date: Tuesday, June 13
    Class: CIS234J
    Assignment: Final Project - QuickSheets
    File Name: AndroidManifest.xml
    Description: The manifest of the entire project.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anthonyafonin.quicksheets">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:noHistory="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddForms.Register"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddForms.AddSheetForm"
            android:label="@string/prompt_new_sheet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddForms.AddEntryForm"
            android:label="New Entry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateForms.UpdateSheet"
            android:label="Update Sheet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateForms.UpdateAccount"
            android:label="Update Account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateForms.UpdateEntry"
            android:label="Update Entry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EntryDetails"
            android:label="Entry Details"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>